@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-text;
}

.sincap-content p {
  @apply mb-5 leading-8 
}
.sincap-content p a {
  @apply underline
}

.home-banner-text {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  @apply text-4xl text-white font-extrabold
}